body {
  padding: 0;
  margin: 0;
  font-family: avenir next;
  color: #eee;
}

header #opening-page {
  font-family: Poiret one;
  color: white;
  height: 480px;
  background-image: url("../img/interior-two.gif");
  background-repeat: no-repeat;
}
header #opening-page #opening-title {
  padding-top: 6.5em;
  text-align: center;
}
header .navbar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
}
header .bar1,
header .bar2,
header .bar3 {
  width: 100%;
  height: 8px;
  margin-bottom: 5px;
  background-color: #eee;
  transition: all 0.3s ease-in-out;
}
header .navbar-on .bar1,
header .navbar-on .bar2,
header .navbar-on .bar3 {
  background-color: white;
}
header .navbar-on .bar1 {
  transform-origin: 10% 40%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .navbar-on .bar3 {
  transform-origin: 10% 40%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .navbar-on .bar2 {
  background-color: transparent;
}
header nav {
  position: fixed;
  z-index: 10;
  background-color: rgba(231, 76, 60, 0.95);
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: white;
}
header nav ul {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0 !important;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 35pt;
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
}
header .nav-hide {
  display: none;
}
header nav,
header .navbar-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header h4 {
  margin: 0;
  padding: 0;
}
header h3 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
header img {
  margin: 1em;
}

main {
  text-align: center;
}
main h2 {
  margin-top: .5em;
  padding-top: .5em;
}
main #our-menu {
  background-color: #222;
}
main p {
  padding: 1em;
}
main #location {
  background-color: #222;
}
main #location #cafe-location {
  height: 250px;
}
main #location address {
  padding-bottom: 1em;
  margin: 0;
}
main #contact {
  height: 480px;
  background-color: #222;
  color: #eee;
}

footer {
  background-color: #222;
  color: #eee;
  padding-top: .5em;
  margin-top: .5em;
  text-align: center;
}
