body {
  font-family: avenir next;
}

header #opening-page {
  background-image: url("img/interior-two.jpg");
}

main #our-menu {
  padding: 0;
  margin: 0;
  background-color: #3498DB;
}
main #our-menu h3 {
  text-align: center;
}
main #contact {
  background-color: #222;
  color: #eee;
}

footer {
  background-color: #222;
  color: #eee;
  padding: .5em;
}
