body {
  padding: 0;
  margin: 0;
  font-family: avenir next;
  color: #eeeeee;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

header #opening-page {
  position: relative;
  font-family: Poiret one;
  color: white;
  height: 480px;
  background-image: url("../img/interior-two.gif");
  background-repeat: no-repeat;
}
header #opening-page #opening-title {
  padding-top: 6.5em;
  text-align: center;
}
header #opening-page #nav-icon4 {
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 1px solid #f09;
}
header #opening-page #nav-icon4 img {
  float: left;
}
header #opening-page #nav-icon4 span {
  border: 1px solid #f09;
  position: absolute;
  display: block;
  height: 5px;
  width: 30px;
  background-color: #eeeeee;
  opacity: 1;
  left: 260px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header #opening-page #nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
header #opening-page #nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
header #opening-page #nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
header #opening-page #nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header #opening-page #nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
header #opening-page #nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header nav {
  background-color: #ddd;
  height: 480px;
  margin-top: 0;
}
header nav ul {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 2em;
}
header nav ul li {
  list-style: none;
  margin-top: 4em;
}
header nav ul a {
  width: 100%;
  background-color: #222222;
  text-decoration: none;
  color: #eeeeee;
  padding: 1em;
}
header h4 {
  margin: 0;
  padding: 0;
}
header h3 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}
header img {
  margin: 1em;
}

main {
  text-align: center;
}
main h2 {
  margin-top: .5em;
  padding-top: .5em;
}
main #our-menu {
  background-color: #222222;
}
main #our-menu div {
  padding: 1em;
}
main #location {
  background-color: #222222;
}
main #location #cafe-location {
  height: 200px;
  margin: .5em;
}
main #location address {
  border: 1px solid #f09;
  padding: .5em;
}
main #contact {
  height: 480px;
  background-color: #222222;
  color: #eee;
}
main #contact label {
  display: inline-block;
}
main #contact input {
  border: none;
  padding: .5em;
  margin: .5em;
  background-color: rgba(255, 255, 255, 0.4);
  color: #eeeeee;
}

footer {
  text-align: center;
  background-color: #222222;
  color: #eeeeee;
  padding: .5em;
  margin-top: .5em;
}
