@mixin nav-transform-rotate ($rotate) {

  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate);

}

@mixin nav-transition ($transition) {

  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

}

@mixin nav-transition-origin ($origin){

  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  transform-origin: $origin;

}