

// Mobile Variables
$main-font:avenir next;
$spacing:0;
$spacing2:.5em;
$bg-color: #222;
$text-color: #eee;
$mobile-height:480px;
$title-font: Poiret one, sans-serif;
$title-font-size:1em;

// Smaller Variables
$smaller-title-size: 1.2em;
$smaller-maintitle-size: 2em;


