

// Mobile Variables
$main-font:avenir next;
$spacing:0;
$bg-color: #222;
$text-color: #eee;
$mobile-height:480px;
$title-font: Poiret one, sans-serif;
$title-font-size:1.4em;
$spacing2:.5em;

// Smaller Variables
$tablet-title-size: 1.6em;


