@import 'flat-ui-colors';
@import 'mixins';

$main-font:avenir next;
$spacing:0;
$bg-color: #222;
$text-color: #eee;
$mobile-height:480px;
$rotate: rotate;
$origin: right center;

body {
	padding:$spacing;
	margin:$spacing;
	font-family: $main-font;
	color:$text-color;
}

header {

	#opening-page {
		
		font-family: Poiret one;
		color:white;
		height:$mobile-height;
		background-image: url('../img/interior-two.gif');
		background-repeat:no-repeat;

		#opening-title {

			padding-top: 6.5em;
			text-align:center;

		}

}
		#nav-icon4 {

			// border:1px solid #f09;
			width: 35px;
  			height: 45px;
  			position: relative;
  			margin: auto;
			cursor: pointer;
			left:270px;
			// top:-50px;
			@include nav-transform-rotate(0deg);
			@include nav-transition(.5s ease-in-out);

			span {

				display: block;
				position: absolute;
				height: 3px;
				width: 100%;
				background: #000;
				border-radius: 9px;
				opacity: 1;
				// left: 20px;
				@include nav-transform-rotate(0deg);
				@include nav-transition(.25s ease-in-out);

				&:nth-child(1) {

					top:0;
					@include nav-transition-origin($origin);

				}

				&:nth-child(2) {

					top:10px;
					@include nav-transition-origin($origin);

				}

				&:nth-child(3) {

					top:20px;
					@include nav-transition-origin($origin);

				}


			}

			&.open {

				span {

					&:nth-child(1) {

						top:30px;
						// left:20px;
						@include nav-transform-rotate(45deg);

					}

					&:nth-child(2) {

						width:0%;
						opacity:0;

					}

					&:nth-child(3) {

						top:5px;
						// left:20px;
						@include nav-transform-rotate(-45deg);

					}

				}

			}

		}

		h4 {
			margin:$spacing;
			padding:$spacing;
		}

		h3 {

			margin:$spacing;
			padding:$spacing;
			font-size:2em;

		}

		img {
			// border:1px solid #f09;
			margin:1em;
		}

	

	nav {

		background-color:#ddd;
		height:$mobile-height;

		ul {

			margin:$spacing;
			padding:$spacing;

		li {
			
			
			text-align: center;
			list-style:none;
			padding-top:4em;
			margin-top:1em;


		&:first-child {
			margin-top:$spacing;
		}

			a {
				
				border-radius:5px;
				text-decoration: none;
				background-color:$bg-color;
				color:$text-color;
				padding:1em;

			}

		}
		
	}

	}

}

main {

	text-align:center;

	h2 {

		margin-top:.5em;
		padding-top:.5em;

	}

	#our-menu{
		
		background-color: $bg-color;

	}



	p {
		padding:.5em;
	}


	#location {

		background-color:$bg-color;

		#cafe-location {

			height:250px;

		}

	}

	#contact {

		height:$mobile-height;
		background-color: $bg-color;
		color:#eee;


	}


	
}

footer {
	background-color:$bg-color;
	color:$text-color;
	padding:.5em;
	margin-top: .5em;
	text-align:center;

	img	{

	}
}
