@import 'flat-ui-colors';
@import 'mixins';

$main-font:avenir next;
$spacing:0;
$bg-color: #222;
$text-color: #eee;
$mobile-height:480px;
$rotate: rotate;
$origin: right center;

body {
	padding:$spacing;
	margin:$spacing;
	font-family: $main-font;
	color:$text-color;
}

header {

	#opening-page {
		
		font-family: Poiret one;
		color:white;
		height:$mobile-height;
		background-image: url('../img/interior-two.gif');
		background-repeat:no-repeat;

		#opening-title {

			padding-top: 6.5em;
			text-align:center;

		}

}

.navbar-toggle {
	  position: fixed;
	  top: 20px;
	  right: 20px;
	  width: 45px;
	  height: 45px;
	  z-index: 20;
	  cursor: pointer;
}

	.bar1,
	.bar2,
	.bar3 {
	  width: 100%;
	  height: 8px;
	  margin-bottom: 5px;
	  background-color: $text-color;
	  transition: all 0.3s ease-in-out;
	}
	 
	.navbar-on .bar1,
	.navbar-on .bar2,
	.navbar-on .bar3 { 
		background-color: white; 
	}
	 
	.navbar-on .bar1 {
	  transform-origin: 10% 40%;
	  @include nav-transform-rotate(45deg);
	}
	 
	.navbar-on .bar3 {
	  transform-origin: 10% 40%;
	  @include nav-transform-rotate(-45deg);
	}
	 
	.navbar-on .bar2 { 
		background-color: transparent; 
	}

nav {

  position: fixed;
  z-index: 10;
  background-color: rgba(231,76,60, 0.95);
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: white;

  ul {
	  display: table-cell;
	  vertical-align: middle;
	  padding-left: 0 !important;
	
	li { 

		list-style: none; 
	 
		a {
		  font-size: 35pt;
		  color: inherit;
		  font-weight: bolder;
		  text-decoration: none;
		}


		}
	}
}

.nav-hide { 
	display: none; 
}

nav,
.navbar-toggle { 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
	

	h4 {
		margin:$spacing;
		padding:$spacing;
		}

	h3 {

		margin:$spacing;
		padding:$spacing;
		font-size:2em;

		}

	img {

		// border:1px solid #f09;
		margin:1em;
		
		}
		
}

main {

	text-align:center;

	h2 {

		margin-top:.5em;
		padding-top:.5em;

	}

	#our-menu{
		
		background-color: $bg-color;

	}



	p {
		padding:1em;
		// border:1px solid #f09;
	}


	#location {

		background-color:$bg-color;

		#cafe-location {

			height:250px;

		}

		address {
			// border:1px solid #f09;
			padding-bottom:1em;
			margin:$spacing;

		}

	}

	#contact {

		height:$mobile-height;
		background-color: $bg-color;
		color:#eee;


	}


	
	}


footer {
	background-color:$bg-color;
	color:$text-color;
	padding-top:.5em;
	margin-top: .5em;
	text-align:center;

	img	{

	}
}
