@import 'flat-ui-colors';

$font:avenir next;
$spacing:0;

body {
	padding:$spacing;
	margin:$spacing;
	font-family: $font;
}

header {

	#opening-page {
		
		font-family: Poiret one;
		color:white;
		height:480px;
		background-image: url('../img/interior-two.gif');
		background-repeat:no-repeat;

	#opening-title {

		padding-top: 10em;
		text-align:center;

	}

	h4 {
		margin:$spacing;
		padding:$spacing;
	}

		h3 {

			margin:$spacing;
			padding:$spacing;
			font-size:2em;

		}

	}

}

main {

	#our-menu{
		
		background-color: $flat-peter-river;
		
		h3 {
			text-align:center;
		}

		div {
			// padding:1em;
			
		}
	}

	#contact {
		background-color: #222;
		color:#eee;
	}
	
}

footer {
	background-color: #222;
	color:#eee;
	padding:.5em;

	img	{

	}
}
