
		#nav-icon4 {

			// border:1px solid #f09;
			width: 35px;
  			height: 45px;
  			position: relative;
  			// margin: 50px auto;
			cursor: pointer;
			left:270px;
			// top:-50px;
			@include nav-transform-rotate(0deg);
			@include nav-transition(.5s ease-in-out);

			span {

				display: block;
				position: absolute;
				height: 3px;
				width: 100%;
				background: #000;
				border-radius: 9px;
				opacity: 1;
				// left: 20px;
				@include nav-transform-rotate(0deg);
				@include nav-transition(.25s ease-in-out);

				&:nth-child(1) {

					top:0;
					@include nav-transition-origin($origin);

				}

				&:nth-child(2) {

					top:10px;
					@include nav-transition-origin($origin);

				}

				&:nth-child(3) {

					top:20px;
					@include nav-transition-origin($origin);

				}


			}

			&.open {

				span {

					&:nth-child(1) {

						top:30px;
						// left:20px;
						@include nav-transform-rotate(45deg);

					}

					&:nth-child(2) {

						width:0%;
						opacity:0;

					}

					&:nth-child(3) {

						top:5px;
						// left:20px;
						@include nav-transform-rotate(-45deg);

					}

				}

			}

		}




// nav {

	// 	background-color:#ddd;
	// 	height:$mobile-height;

	// 	ul {

	// 		margin:$spacing;
	// 		padding:$spacing;

	// 	li {
			
			
	// 		text-align: center;
	// 		list-style:none;
	// 		padding-top:4em;
	// 		margin-top:1em;


	// 	&:first-child {
	// 		margin-top:$spacing;
	// 	}

	// 		a {
				
	// 			border-radius:5px;
	// 			text-decoration: none;
	// 			background-color:$bg-color;
	// 			color:$text-color;
	// 			padding:1em;

	// 		}

	// 	}
		
	// }

	// }









#nav-icon4 {

			// border:1px solid #f09;
			width: 35px;
  			height: 45px;
  			position: relative;
  			// margin: 50px auto;
			cursor: pointer;
			left:270px;
			// top:-50px;
			@include nav-transform-rotate(0deg);
			@include nav-transition(.5s ease-in-out);

			span {

				display: block;
				position: absolute;
				height: 3px;
				width: 100%;
				background: #000;
				border-radius: 9px;
				opacity: 1;
				// left: 20px;
				@include nav-transform-rotate(0deg);
				@include nav-transition(.25s ease-in-out);

				&:nth-child(1) {

					top:0;
					@include nav-transition-origin($origin);

				}

				&:nth-child(2) {

					top:10px;
					@include nav-transition-origin($origin);

				}

				&:nth-child(3) {

					top:20px;
					@include nav-transition-origin($origin);

				}


			&.open {

				span {

					&:nth-child(1) {

						top:30px;
						// left:20px;
						@include nav-transform-rotate(45deg);

					}

					&:nth-child(2) {

						width:0%;
						opacity:0;

					}

					&:nth-child(3) {

						top:5px;
						// left:20px;
						@include nav-transform-rotate(-45deg);

					}

				}

			}

		}

	}







